{erl_opts, [debug_info,
		   {i, "./_build/default/plugins/gpb/include"}
		   ]}.

{deps, [
	 {erlzk, ".*", {git, "git://github.com/huaban/erlzk.git", {tag, "v0.6.2"}}},
   {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}}
]}.

{plugins, [
    { rebar3_gpb_plugin, "2.2.2" }
]}.

{gpb_opts, [
  {i, "protos"},               % path/to/proto_dir
  {o_erl, "src"},              % Where the generated source is placed
  {o_hrl, "include"},          % Where the generated include files are placed
  {strings_as_binaries, true},
  type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.